@using Microsoft.AspNetCore.Http
@using insouq.Shared.Utility;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@*@model System.Collections.Generic.List<AgencyWeb.DL.UsedCarDL>*@
@model insouq.Shared.DTOS.AgencyDTOS.MotorsAdDTO

@{
    Layout = "_Layout";
}

<style media="screen">
    #files-area {
        margin: 0 auto;
    }

    .file-block {
        border-radius: 10px;
        margin: 5px;
        color: initial;
        display: inline-flex;
        & > span.name

    {
        padding-right: 10px;
        width: max-content;
        display: inline-flex;
    }

    }

    .image-view {
        width: 150px;
        height: 150px;
        object-fit: scale-down;
        background: white;
    }

    .file-delete {
        position: absolute;
        background-color: #db0909;
        color: white;
        border-radius: 100%;
        font-weight: bold;
        margin-top: 8px;
        justify-content: center;
        font-size: 14px;
        margin-right: 0;
        padding: 0px 7px 1px 7px;
        margin-left: 121px;
        cursor: pointer;
    }

    .name {
        display: none;
    }

    .img-div {
        position: relative;
        display: inline-block;
        width: 18%;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
    }
    /*   :checked + label {
        border: 5px solid;
        border-color: #ffb01c;
        border-radius: 15px;
    }*/

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        max-width: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .icon-delete {
        background: #db0909;
        border: none;
        position: absolute;
        border-radius: 100%;
        margin-left: -22%;
        margin-top: 8px;
        color: white;
        font-size: 10px;
        padding: 0 8px;
    }

    .img-div:hover .middle {
        opacity: 1;
    }
</style>

<style media="screen">
    .ui-sortable-placeholder {
        visibility: visible !important;
        background: #eeeeee78 !important;
    }

        .ui-sortable-placeholder * {
            visibility: hidden;
        }

    .RearangeBox.dragElemThumbnail {
        opacity: 0.6;
    }

    .RearangeBox {
        width: 180px;
        height: 240px;
        padding: 10px 5px;
        cursor: all-scroll;
        float: left;
        font-family: sans-serif;
        display: inline-block;
        margin: 5px !important;
        text-align: center;
        color: #673ab7;
        /*color: rgb(34, 34, 34);
        background: #f3f2f1;     */
    }

    /*    body {
        font-family: sans-serif;
        margin: 0px;
    }*/

    .IMGthumbnail {
        max-width: 168px;
        height: 220px;
        margin: auto;
        background-color: #ececec;
        padding: 2px;
        border: none;
    }

        .IMGthumbnail img {
            max-width: 100%;
            max-height: 100%;
        }

    .imgThumbContainer {
        margin: 4px;
        border: solid;
        display: inline-block;
        justify-content: center;
        position: relative;
        border: 1px solid rgba(0,0,0,0.14);
        -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    }

        .imgThumbContainer > .imgName {
            text-align: center;
            padding: 2px 6px;
            margin-top: 4px;
            font-size: 13px;
            height: 25px;
            overflow: hidden;
        }

        .imgThumbContainer > .imgRemoveBtn {
            position: absolute;
            color: #e91e63ba;
            right: 2px;
            top: 2px;
            cursor: pointer;
            display: none;
        }

    .RearangeBox:hover > .imgRemoveBtn {
        display: block;
    }

    .custom-file-container__image-multi-preview {
        position: relative;
        box-sizing: border-box;
        transition: all 0.2s ease;
        border-radius: 6px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        float: left;
        margin: 1.858736059%;
        width: 29.615861214%;
        height: 190px;
        box-shadow: 0 4px 10px 0 rgb(51 51 51 / 25%);
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/line-icons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slicknav.css">
    <link href="~/assets/css/flag-icon.css" rel="stylesheet">


    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/response.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->

    <title>agency</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/" />
    <!-- Favicon icon -->
    <!-- Custom CSS -->
    <link href="~/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="~/css/style.min.css" rel="stylesheet">

</head>

<body>

    <div class="container">

        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal11" role="dialog">
            <div class="modal-dialog dialog-padding">

                <!-- Modal content-->
                <div class="modal5-styles">
                    <div class="modal-header-styles2">
                        <h4 class="title-dir">Change Location</h4>
                        <button type="button" class="close-style7" data-dismiss="modal">&times;</button>

                    </div>

                    <div class="modal-body">
                        <form class="" method="post">

                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="All UAE">
                                <label for="All UAE" class="change-color2">All UAE</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Abu Dhabi">
                                <label for="Abu Dhabi" class="change-color2">Abu Dhabi</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Ajman">
                                <label for="Ajman" class="change-color2">Ajman</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Al Ain">
                                <label for="AL Ain" class="change-color2">Al Ain</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Dubai">
                                <label for="Dubai" class="change-color2">Dubai</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Fujairah">
                                <label for="30days" class="change-color2">Fujairah</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Ras Al Khaimah">
                                <label for="30days" class="change-color2">Ras Al Khaimah</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Sharjah">
                                <label for="30days" class="change-color2">Sharjah</label>

                            </p>
                            <p class="tex-pad4">
                                <input type="radio" id="30days" name="days" value="Um Al Quwain">
                                <label for="30days" class="change-color2">Um Al Quwain</label>

                            </p>
                            <button type="submit" class="signin-btn2" name="button">Go</button>

                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <div class="page-wrapper">

            <div id="list-view" class="tab-pane fade active show  trending-cat">
                <div class="row">
                    @if (TempData["Message"] != null)
                    {
                        <script type="text/javascript">
                                            window.onload = function () {
                                               alert("@TempData["Message"]");
                                                 };
                        </script>
                    }
                    <div id="list-view" class="tab-pane fade active show containers trending-cat">
                        <div class="row">
                            <div id="list-view" class="tab-pane fade active show containers trending-cat">

                                <div class="row row-badding">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <h1 class="section-title5">Ads Listing</h1>
                                            <ol class="breadcrumb-style">
                                                <li><a href="/Topnavbar/PostAnAd" class="breadcrumb-color">Ads Listing > </a></li>

                                                <li class="breadcrumb-color"> Edit ad</li>
                                            </ol>
                                        </div>
                                        <div class="form-width">
                                            <div class="col-md-6">
                                                <p class="post-p3">Car specifications</p>


                                                <form id="addForm" asp-action="Add" method="post" enctype="multipart/form-data">
                                                    @Html.HiddenFor(m => m.CategoryId)
                                                    @Html.HiddenFor(m => m.AdId)
                                                    @Html.HiddenFor(m => m.Lng, new { id = "lng" })
                                                    @Html.HiddenFor(m => m.Lat, new { id = "lat" })

                                                    @*<div class="">

                                                            <label for=''>
                                                                <p class="post-p5">Pictures of your ad</p>
                                                                <div class="">
                                                                    <label for="files"><i class="fa fa-plus add-image"><p>Add more pictures</p></i></label>
                                                                    <p><small>You can add upto 10 pictures</small></p>
                                                                    <p style="color:#ffb01c">drag and drop your main image to the first</p>
                                                                </div>
                                                                <div class=" inline-dispaly">
                                                                    <div id="sortableImgThumbnailPreview">
                                                                    </div>
                                                                    <div><output id='result' /></output></div>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <input asp-for="Pictures" required id="files" type="file" multiple hidden accept="image/*" />*@


                                                    <div class="">
                                                        <label for=''>
                                                            <p class="post-p5">Pictures of your ad</p>
                                                            <div class="">
                                                                <label for="images"><i class="fa fa-plus add-image"><p>Add more pictures</p></i></label>
                                                                <p><small>You can add upto 10 pictures</small></p>
                                                                <p style="color:#ffb01c">select your main image by click on it</p>
                                                            </div>

                                                        </label>
                                                        <div class="form-group">
                                                            <input type="file" asp-for="Pictures" id="images" multiple class="form-control" required hidden>
                                                            <p id="files-area">
                                                                <span id="filesList">
                                                                    <span id="files-names"></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="form-group">
                                                            <div id="image_preview" style="width:100%;">

                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="padding-form">
                                                        <label class="label-price1">AED</label><input placeholder="Listing price" type="number" class="line-input-style16" asp-for="Price" min="0" required>
                                                    </div>

                                                    <div class="padding-form">
                                                        <label class="change-color">Phone Number</label>
                                                        <input required type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="11" class="line-input-style17" asp-for="PhoneNumber" value="@ViewBag.phoneNumber" maxlength="11" min="11">
                                                    </div>

                                                    <div class="padding-form">
                                                        <textarea placeholder="Add a short description" class="line-input-textarea1" asp-for="Description" cols="80" rows="7" style="border:0px;"></textarea>
                                                        <br>
                                                        <span>0/400 words</span>
                                                    </div>

                                                    <p class="post-p4">Specifications</p>

                                                    @if (Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="EngineSize" class="line-input-style15" id="engineSizeDL">
                                                                <option value="">Engine Size</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Machinery_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select asp-for="Capacity" class="line-input-style15" id="capacityDL">
                                                                <option value="">Capacity</option>
                                                            </select>
                                                        </div>
                                                    }


                                                    @if (Model.CategoryId == StaticData.UsedCars_ID
|| Model.CategoryId == StaticData.ExportCar_ID
|| Model.CategoryId == StaticData.Machinery_ID
|| Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <input placeholder="Mileage (in KMS)" required class="line-input-style15" type="number" asp-for="Kilometers">
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="RegionalSpecs" class="line-input-style15" id="specificationDL">
                                                                <option value="">Regional Specification</option>
                                                            </select>
                                                        </div>
                                                    }


                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID
|| Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Color" class="line-input-style15" id="colorDL">
                                                                <option value="">Color</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Doors" class="line-input-style15" id="doorDL">
                                                                <option value="">Doors</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId != StaticData.Parts_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Warranty" class="line-input-style15">
                                                                <option value="">Warranty</option>
                                                                <option value="true">Yes</option>
                                                                <option value="false">No</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Transmission" class="line-input-style15" id="transmissionDL">
                                                                <option value="">Transmission</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="BodyType" class="line-input-style15" id="bodyTypeDL">
                                                                <option value="">Body Type</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID
|| Model.CategoryId == StaticData.ExportCar_ID
|| Model.CategoryId == StaticData.Machinery_ID
|| Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="FuelType" class="line-input-style15" id="fuelTypeDL">
                                                                <option value="">Fuel Type</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID
|| Model.CategoryId == StaticData.ExportCar_ID
|| Model.CategoryId == StaticData.Machinery_ID
|| Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="NoOfCylinders" class="line-input-style15" id="NoOfCylindersDL">
                                                                <option value="">Number Of Cylinders</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="SteeringSide" class="line-input-style15" id="steeringSideDL">
                                                                <option value="">Steering Side</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.UsedCars_ID || Model.CategoryId == StaticData.ExportCar_ID
|| Model.CategoryId == StaticData.Machinery_ID || Model.CategoryId == StaticData.Boats_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Horsepower" class="line-input-style15" id="HorsepowerDL">
                                                                <option value="">Horse Power</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Wheels" class="line-input-style15" id="wheelsDL">
                                                                <option value="">wheels</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Parts_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <input placeholder="Name of part" required class="line-input-style15" type="text" asp-for="NameOfPart">
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Boats_ID || Model.CategoryId == StaticData.Parts_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Age" class="line-input-style15" id="ageDL">
                                                                <option value="">Age</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Boats_ID || Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Usage" class="line-input-style15" id="usageDL">
                                                                <option value="">Usage</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Boats_ID
|| Model.CategoryId == StaticData.Machinery_ID
|| Model.CategoryId == StaticData.Parts_ID)
                                                    {
                                                        <div class="padding-form">

                                                            <select required asp-for="Condition" class="line-input-style15" id="conditionDL">
                                                                @if (Model.CategoryId == StaticData.Machinery_ID)
                                                                {
                                                                    <option value="">Body Condition</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="">Condition</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    }


                                                    @if (Model.CategoryId == StaticData.Machinery_ID || Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="SellerType" class="line-input-style15" id="sellerTypeDL">
                                                                <option value="">Seller Type</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Bike_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="FinalDriveSystem" class="line-input-style15" id="finalDriveSystemDL">
                                                                <option value="">Final Drive System</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    @if (Model.CategoryId == StaticData.Boats_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="Length" class="line-input-style15" id="lengthDL">
                                                                <option value="">Length</option>
                                                            </select>
                                                        </div>
                                                    }


                                                    @if (Model.CategoryId == StaticData.Machinery_ID)
                                                    {
                                                        <div class="padding-form">
                                                            <select required asp-for="MechanicalCondition" class="line-input-style15" id="mechanicalConditionDL">
                                                                <option value="">Mechanical Condition</option>
                                                            </select>
                                                        </div>
                                                    }

                                                    <div class="padding-form">
                                                        <select required asp-for="Location" class="line-input-style15" id="locationDL">
                                                            <option value="">Your Location</option>
                                                        </select>
                                                    </div>


                                                    <div class="padding-form">
                                                        <button type="button" class="change-btn2" name="button" onclick="GetLocation()">Detect Location</button>
                                                        <div id="detectLocationError" style="margin-top:10px; display:none;">
                                                            <span id="detectLocationErrorMessage" style="color:red;"></span>
                                                        </div>
                                                    </div>

                                                    <label class="cont2">
                                                        <p class="text-style3">
                                                            By submitting this ad, I agree on <a href="#"> {Terms & Conditions}</a> and
                                                            <a href="#">{Privacy Policy}</a>
                                                        </p>
                                                        <input type="checkbox">
                                                        <span class="checkmark3" required></span>
                                                    </label>


                                                    <label class="">
                                                        <p class="text-style3">Once you submit the ad, we will review before publishing. You will be notified once approved</p>

                                                    </label>

                                                    <div class="padding-form padding-top">
                                                        <button type="submit" class="change-btn3" name="button" >CONTINUE</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                            <div class="col-md-4">

                                                <div class="featured-box1">
                                                    <div class="order-border">
                                                        <h3 class="section-title15">Agent Information</h3>
                                                    </div>

                                                    <div class="padding-form padding-top">
                                                        <label class="change-color-label2">Agency Name</label>
                                                        <label class="noline-input-style1" name="" value="" placeholder="">
                                                            @HttpContextAccessor.HttpContext.Session.GetString("SessionAgencyName")

                                                        </label>
                                                    </div>
                                                    <div class="padding-form">
                                                        <label class="change-color-label2">Agency Logo</label>
                                                        <img src="../image/@HttpContextAccessor.HttpContext.Session.GetString("SessionAgencyPicture")" alt="Avatar" class="avatar-info">
                                                    </div>
                                                    <div class="padding-form">
                                                        <label class="change-color-label2">Agent Name</label>
                                                        <label class="noline-input-style1" name="" value="" placeholder="Sara Grover">
                                                            @User.Identity.Name
                                                        </label>
                                                    </div>
                                                    <div class="padding-form">
                                                        <label class="change-color-label2">Agent Photo</label>
                                                        <img src="../image/@HttpContextAccessor.HttpContext.Session.GetString("SessionProfilePicture")" alt="Avatar" class="avatar-info">
                                                    </div>
                                                    <div class="padding-form">
                                                        <label class="change-color-label2">Mobile Number</label>
                                                        <label class="noline-input-style1" name="" value="">
                                                            @HttpContextAccessor.HttpContext.Session.GetString("SessionMobileNumberWithCode")
                                                        </label>
                                                    </div>
                                                    <div class="padding-form">
                                                        <label class="change-color-label2">Work number</label>
                                                        <label class="noline-input-style1" name="" value="" placeholder="00000000000">
                                                            @HttpContextAccessor.HttpContext.Session.GetString("SessionWorkNumber")
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/app-style-switcher.js"></script>
        <script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
        <!--Wave Effects -->
        <script src="~/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="~/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="~/js/custom.js"></script>
        <!--This page JavaScript -->
        <!--chartis chart-->
        <script src="~/plugins/bower_components/chartist/dist/chartist.min.js"></script>
        <script src="~/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
        <script src="~/js/pages/dashboards/dashboard1.js"></script>
</body>

<script src="~/assets/js/jquery-min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/jquery.counterup.min.js"></script>
<script src="~/assets/js/waypoints.min.js"></script>
<script src="~/assets/js/wow.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.slicknav.js"></script>
<script src="~/assets/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script type="text/javascript">
    // <img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'>
    const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

    $("#images").on('change', function (e) {
        for (var i = 0; i < this.files.length; i++) {
            let fileBloc = $('<span/>', { class: 'file-block' }),
                fileName = $('<span/>', { class: 'name', text: this.files.item(i).name });
            fileBloc.append('<input type="radio"  id=' + this.files.item(i).name + '  name="MainPhoto" value=' + this.files.item(i).name + ' class="chb" hidden /><label  for=' + this.files.item(i).name + ' ><img class="image-view" src=' + URL.createObjectURL(event.target.files[i]) + '></label><span class="file-delete"><span>x</span></span>').append(fileName);
            $("#filesList > #files-names").append(fileBloc);
            // $('#image_preview').append("<div class='img-div' id='img-div"+i+"'><input type='radio'  id='"+this.files.item(i).name+"'  name='cb' value='"+this.files.item(i).name+"' class='chb' hidden /><label  for='"+this.files.item(i).name+"' ><img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'></label><div class='middle'></div><span class="file-delete"><span>x</span></span></div>");
        };
        // Ajout des fichiers dans l'objet DataTransfer
        for (let file of this.files) {
            dt.items.add(file);
        }
        // Mise à jour des fichiers de l'input file après ajout
        this.files = dt.files;

        // EventListener pour le bouton de suppression créé
        $('span.file-delete').click(function () {
            let name = $(this).next('span.name').text();
            // Supprimer l'affichage du nom de fichier
            $(this).parent().remove();
            for (let i = 0; i < dt.items.length; i++) {
                // Correspondance du fichier et du nom
                if (name === dt.items[i].getAsFile().name) {
                    // Suppression du fichier dans l'objet DataTransfer
                    dt.items.remove(i);
                    continue;
                }
            }
            // Mise à jour des fichiers de l'input file après suppression
            document.getElementById('images').files = dt.files;
        });
    });
</script>

//

<script type="text/javascript">
    // <img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'>
    const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file




</script>
<script type="text/javascript">
    // <img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'>
    const dt = new DataTransfer(); // Permet de manipuler les fichiers de l'input file

    $("#images").on('change', function (e) {
        for (var i = 0; i < this.files.length; i++) {
            let fileBloc = $('<span/>', { class: 'file-block' }),
                fileName = $('<span/>', { class: 'name', text: this.files.item(i).name });
            fileBloc.append('<input type="radio" checked  id=' + this.files.item(i).name + '  name="cb" value=' + this.files.item(i).name + ' class="chb" hidden /><label  for=' + this.files.item(i).name + ' class="titleview"><img class="image-view" src=' + URL.createObjectURL(event.target.files[i]) + '></label><p class="image-hides">Main Image</p><span class="file-delete"><span>x</span></span>').append(fileName);
            $("#filesList > #files-names").append(fileBloc);
            // $('#image_preview').append("<div class='img-div' id='img-div"+i+"'><input type='radio'  id='"+this.files.item(i).name+"'  name='cb' value='"+this.files.item(i).name+"' class='chb' hidden /><label  for='"+this.files.item(i).name+"' ><img src='"+URL.createObjectURL(event.target.files[i])+"' class='img-responsive image ' title='"+this.files.item(i).name+"'></label><div class='middle'></div><span class="file-delete"><span>x</span></span></div>");
        };
        // Ajout des fichiers dans l'objet DataTransfer
        for (let file of this.files) {
            dt.items.add(file);
        }
        // Mise à jour des fichiers de l'input file après ajout
        this.files = dt.files;

        // EventListener pour le bouton de suppression créé
        $('span.file-delete').click(function () {
            let name = $(this).next('span.name').text();
            // Supprimer l'affichage du nom de fichier
            $(this).parent().remove();
            for (let i = 0; i < dt.items.length; i++) {
                // Correspondance du fichier et du nom
                if (name === dt.items[i].getAsFile().name) {
                    // Suppression du fichier dans l'objet DataTransfer
                    dt.items.remove(i);
                    continue;
                }
            }
            // Mise à jour des fichiers de l'input file après suppression
            document.getElementById('images').files = dt.files;
        });
    });
</script>
<script>
    function onTrimChange() {
        if ($("#trimDL").val().toLowerCase() == "others") {
            $("#otherTrim").css("display", "block");
            $("#otherTrim").html(`<div class='padding-form'>
                                                                                    <label class= "change-color"> Other, please type here</label>
                                                                                <input required id='OtherTrim' name='OtherTrim' class="line-input-style8" type="text" id="Trim">
                                                                                        </div>`);
        } else {
            $("#otherTrim").html("");
        }
    }
</script>


<script>

        var makerDLloaded = false;
        $("#makerDL").on("click", function () {
            if (makerDLloaded)
                return;

            var categoryId = @Model.CategoryId;

            $.ajax({
                url: "/DropDowns/GetAllMotorMaker?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#makerDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            makerDLloaded = true;
        });

        $("#makerDL").on("change", function () {

            var categoryId = @Model.CategoryId;

            $('#modelDL option').remove();
            $("#modelDL").append(`<option value=''>Select Model</option>`);

                $("#modelDL").val(null);
                var maker = $("#makerDL").val();
                $.ajax({
                    url: `/DropDowns/GetAllMotorModelByMaker?maker=${maker}`,
                    method: "GET",
                    success: function (response) {
                        $.each(response.items, function (i, item) {
                            $("#modelDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                        });
                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
        });



        $("#modelDL").on("change", function () {
            if ($("#modelDL").val().toLowerCase() == "others") {
                $("#otherModel").css("display", "block");
                $("#otherModel").html(`<div class='padding-form'>
                                <label class= "change-color"> Other, please type here</label>
                            <input required id='OtherModel' name='OtherModel' class="line-input-style8" type="text">
                                    </div>`);

                $('#trimDL option').remove();

                $("#trimDL").append(`<option value=''>Select Trim</option>`);
                $("#trimDL").append(`<option id="othersTrim" value='others'>others</option>`);

            } else {
                $("#otherModel").html("");
                $("#trimDL").val(null);
                var model = $("#modelDL").val();
                $.ajax({
                    url: `/DropDowns/GetAllMotorTrimByModel?model=${model}`,
                    method: "GET",
                    success: function (response) {
                        $.each(response.items, function (i, item) {
                            $("#trimDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                        });

                        if ($('#othersTrim').length) {
                        } else {
                            $("#trimDL").append(`<option id="othersTrim" value='others'>others</option>`);
                        }

                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
            }

        });

        var specificationDLloaded = false;
        $("#specificationDL").on("click", function () {
            if (specificationDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllMotorRegionalSpecs",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#specificationDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            specificationDLloaded = true;
        });

        var colorDLloaded = false;
        $("#colorDL").on("click", function () {
            if (colorDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllColor",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#colorDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            colorDLloaded = true;
        });

        var doorDLloaded = false;
        $("#doorDL").on("click", function () {
            if (doorDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllDoor",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#doorDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            doorDLloaded = true;
        });

        var transmissionDLloaded = false;
        $("#transmissionDL").on("click", function () {
            if (transmissionDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllTransmission",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#transmissionDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            transmissionDLloaded = true;
        });

        var bodyTypeDLloaded = false;
        $("#bodyTypeDL").on("click", function () {
            if (bodyTypeDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllBodyType",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#bodyTypeDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            bodyTypeDLloaded = true;
        });

        var fuelTypeDLloaded = false;
        $("#fuelTypeDL").on("click", function () {
            if (fuelTypeDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllFuelType",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#fuelTypeDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            fuelTypeDLloaded = true;
        });

        var NoOfCylindersDLloaded = false;
        $("#NoOfCylindersDL").on("click", function () {
            if (NoOfCylindersDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllNoOfCylinders",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#NoOfCylindersDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            NoOfCylindersDLloaded = true;
        });

        var HorsepowerDLloaded = false;
        $("#HorsepowerDL").on("click", function () {
            if (HorsepowerDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllHorsepower?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#HorsepowerDL").append(`<option value='${item.en_Text} ^ ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            HorsepowerDLloaded = true;
        });

        var conditionDLloaded = false;
        $("#conditionDL").on("click", function () {
            if (conditionDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllCondition?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#conditionDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            conditionDLloaded = true;
        });

        var mechanicalConditionDLloaded = false;
        $("#mechanicalConditionDL").on("click", function () {
            if (mechanicalConditionDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllMechanicalCondition",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#mechanicalConditionDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            mechanicalConditionDLloaded = true;
        });

        var locationDLloaded = false;
        $("#locationDL").on("click", function () {
            if (locationDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllLocation",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#locationDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            locationDLloaded = true;
        });

        var engineSizeDLloaded = false;
        $("#engineSizeDL").on("click", function () {
            if (engineSizeDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllEngineSize",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#engineSizeDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);

                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            engineSizeDLloaded = true;
        });

        var ageDLloaded = false;
        $("#ageDL").on("click", function () {
            if (ageDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllAge?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#ageDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            ageDLloaded = true;
        });

        var usageDLloaded = false;
        $("#usageDL").on("click", function () {
            if (usageDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllUsage?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#usageDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            usageDLloaded = true;
        });

        var lengthDLloaded = false;
        $("#lengthDL").on("click", function () {
            if (lengthDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllLength",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#lengthDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            lengthDLloaded = true;
        });

        var sellerTypeDLloaded = false;
        $("#sellerTypeDL").on("click", function () {
            if (sellerTypeDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllSellerType",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#sellerTypeDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            sellerTypeDLloaded = true;
        });

        var finalDriveSystemDLloaded = false;
        $("#finalDriveSystemDL").on("click", function () {
            if (finalDriveSystemDLloaded)
                return;
            $.ajax({
                url: "/DropDowns/GetAllFinalDriveSystem",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#finalDriveSystemDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            finalDriveSystemDLloaded = true;
        });

        var subCategoryDLloaded = false;
        $("#subCategoryDL").on("click", function () {
            if (subCategoryDLloaded)
                return;
            $.ajax({
                url: "/SubCategories/GetSubCategories?categoryId=@Model.CategoryId",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        console.log(item);
                        $("#subCategoryDL").append(`<option value='${item.id}'>${item.en_Name}</option>`);
                    });

                    $("#subCategoryDL").append(`<option value='0'>others</option>`);

                },
                error: function (error) {
                    alert(error.message);
                }
            });
            subCategoryDLloaded = true;
        });

        var capacityDLloaded = false;
        $("#capacityDL").on("click", function () {
            if (capacityDLloaded)
                return;

            $.ajax({
                url: "/DropDowns/GetAllCapacity",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#capacityDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            capacityDLloaded = true;
        });

        var steeringSideDLloaded = false;
        $("#steeringSideDL").on("click", function () {
            if (steeringSideDLloaded)
                return;

            $.ajax({
                url: "/DropDowns/GetAllSteeringSide",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#steeringSideDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            steeringSideDLloaded = true;
        });

        var wheelsDLloaded = false;
        $("#wheelsDL").on("click", function () {
            if (wheelsDLloaded)
                return;

            $.ajax({
                url: "/DropDowns/GetAllWheels",
                method: "GET",
                success: function (response) {
                    $.each(response.items, function (i, item) {
                        $("#wheelsDL").append(`<option value='${item.en_Text} - ${item.ar_Text}'>${item.en_Text}</option>`);
                    });
                },
                error: function (error) {
                    alert(error.message);
                }
            });
            wheelsDLloaded = true;
        });



        $("#subCategoryDL").on("change", function () {

            if ($("#subCategoryDL").val().toLowerCase() == "0") {
                $("#otherSubCategory").css("display", "block");
                $("#otherSubCategory").html(`<div class='padding-form'>
                                <label class= "change-color"> Other, please type here</label>
                            <input required id='OtherSubCategory' name='OtherSubCategory' class="line-input-style8" type="text">
                                    </div>`);

                $('#subTypeDL option').remove();

                $("#subTypeDL").append(`<option value=''>Select Sub Type</option>`);
                $("#subTypeDL").append(`<option id="othersSubType" value='0'>others</option>`);


            } else {
                $("#otherSubCategory").html("");
                $("#otherSubType").html("");
                $("#subTypeDL").val(null);
                $("#subTypeDL option").remove();
                $("#subTypeDL").append(`<option value=''>Select Sub Type</option>`);

                if ($("#subCategoryDL").val() != "") {
                    var subCategoryId = $("#subCategoryDL").val();
                    $.ajax({
                        url: `/SubTypes/GetSubTypes?subCategoryId=${subCategoryId}`,
                        method: "GET",
                        success: function (response) {
                            $.each(response.items, function (i, item) {
                                $("#subTypeDL").append(`<option value='${item.id}'>${item.en_Name}</option>`);
                            });


                            $("#subTypeDL").append(`<option id="othersSubType" value='0'>others</option>`);

                        },
                        error: function (error) {
                            alert(error.message);
                        }
                    });

                }

            }
        });

        $("#subTypeDL").on("change", function () {

            if ($("#subTypeDL").val().toLowerCase() == "0") {
                $("#otherSubType").css("display", "block");
                $("#otherSubType").html(`<div class='padding-form'>
                                <label class= "change-color"> Other, please type here</label>
                            <input required id='OtherSubType' name='OtherSubType' class="line-input-style8" type="text">
                                    </div>`);

            } else {
                $("#otherSubType").html("");
            }
        });

</script>
<script>

    $("button").on("click", function () {

        $(".label").remove();
        $('#addForm input,select').each(function () {
            if (!$(this).val() && $(this).is(":hidden") == false) {
                $(this).css("border", "1px solid red");
                $("<span class='label label-important' style='color:red ;display:  table-caption ; margin-top: -14px' >" + "This field is mandatory" + '</span>').insertAfter(this);
            } else {
                $(this).removeClass("label label-important");


            }
        });



    });
    $('#addForm input,select').each(function () {

        $(this).on("change", function () {
            if ($(this).val()) {
                $(this).next('span').remove();
                $(this).css("border", "");
            }
        });
    });

</script>
</html>
