
@{
    ViewData["Title"] = "Advertisor Images";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "AdvertisorImages";
}

@using insouq.Shared.Utility
@using insouq.Models.StaticData

@model AdvertisorImages

<style media="screen">
    .dot {
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        color: #fff;
        float: right;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                @if (Model.Id == 0)
                {
                    <div class="form-group">
                        <x>

                        </x>
                        <x style="float:right;">
                            <a asp-action="UpsertAdvertisorImages" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a>
                        </x>
                    </div>
                }

                <table class="table table-striped bootstrap-datatable" id="example">
                    <thead class="">
                        <tr>
                            <th><p align="center" class="color">Image</p></th>
                            <th><p align="center" class="color">File</p></th>
                            <th><p align="center" class="color">Action</p></th>
                        </tr>
                    </thead>
                    <hr>

                    <tbody style="padding-top:0px">
                        @if (Model.Id != 0)
                        {
                            <tr align="center" id="@Model.Id">
                                <td>
                                    <div class="tz-gallery">
                                        <a class="lightbox" href="@Model.ImageUrl1">
                                            <img onerror="this.src='/images/defaultAdImage.png'" src="@Model.ImageUrl1" alt="" style="width:100px;">
                                        </a>
                                    </div>
                                </td>
                                <td><a href="@Model.FileUrl1"><i style="font-size:40px;margin-top:20px;" class="fas fa-download"></i></a></td>

                                <td rowspan="2" class="text-center" style="text-align:center;">
                                    <a style="margin-top:100px;" asp-action="UpsertAdvertisorImages" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> </a>
                                </td>
                            </tr>

                            <tr align="center" id="@Model.Id">
                                <td>
                                    <div class="tz-gallery">
                                        <a class="lightbox" href="@Model.ImageUrl2">
                                            <img onerror="this.src='/images/defaultAdImage.png'" src="@Model.ImageUrl2" alt="" style="width:100px;">
                                        </a>
                                    </div>
                                </td>
                                <td><a href="@Model.FileUrl2"><i style="font-size:40px;margin-top:20px;" class="fas fa-download"></i></a></td>

                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/col-->

</div><!--/row-->