
@{
    ViewData["Title"] = "How It Works";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "AllHIW";
}

@using insouq.Shared.Utility
@using insouq.Models.StaticData

@model HIW

<style media="screen">
    .dot {
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        color: #fff;
        float: right;
    }

    .color {
        background: #7d6755;
        padding: 20px;
        color: #fff;
        width: 220px;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" style="overflow-x: auto">

            <div class="panel-body">
                @if (Model.Id == 0)
                {
                    <div class="form-group">
                        <x>

                        </x>
                        @*<x style="float:right;">
                            <a asp-action="HIW" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a>
                        </x>*@
                    </div>
                }

                <table class="table table-striped bootstrap-datatable" id="example" style="width:auto">
                    <thead class="">
                        <tr>
                            <th><p align="center" class="color">First Paragraph (ENG)</p></th>
                            <th><p align="center" class="color">First Paragraph (AR)</p></th>

                            <th><p align="center" class="color">Second Paragraph (ENG)</p></th>
                            <th><p align="center" class="color">Second Paragraph (AR)</p></th>

                            <th><p align="center" class="color">Third Paragraph (ENG)</p></th>
                            <th><p align="center" class="color">Third Paragraph (AR)</p></th>

                            <th><p align="center" class="color">Video Url</p></th>
                            <th><p align="center" class="color">First Image </p></th>
                            <th><p align="center" class="color">Second Image </p></th>


                            <th><p align="center" class="color">Actions</p></th>
                        </tr>
                    </thead>
                    <hr>


                    <tbody style="padding-top:20px">
                        <tr align="center" id="@Model.Id">
                            <td>@Model.paragraph1</td>
                            <td>@Model.Ar_paragraph1 </td>
                            <td>@Model.paragraph2</td>
                            <td>@Model.Ar_paragraph2 </td>

                            <td>@Model.paragraph3</td>
                            <td>@Model.Ar_paragraph3 </td>
                            <td>@Model.VIDUrl </td>
                            <td>
                                <div class="tz-gallery">
                                    <a class="lightbox" href="@Model.img1Url">
                                        <img onerror="this.src='/images/defaultAdImage.png'" src="@Model.img1Url" alt="" style="width:100px;">
                                    </a>
                                </div>
                            </td>

                            <td>
                                <div class="tz-gallery">
                                    <a class="lightbox" href="@Model.img2Url">
                                        <img onerror="this.src='/images/defaultAdImage.png'" src="@Model.img2Url" alt="" style="width:100px;">
                                    </a>
                                </div>
                            </td>

                            <td>
                                @if (Model.Id != 0)
                                {
                                    <a asp-action="HIW" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> </a>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/col-->

</div><!--/row-->