
@{
    ViewData["Title"] = "Banner";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = "Banner";
}

@using insouq.Shared.Utility
@using insouq.Models.StaticData

@model Banner

<style media="screen">
    .dot {
        height: 25px;
        width: 25px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        color: #fff;
        float: right;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">

            <div class="panel-body">
                @if (Model.Id == 0)
                {
                    <div class="form-group">
                        <x>

                        </x>
                        <x style="float:right;">
                            <a asp-action="UpsertBanner" class="btn btn-success btn-sm"><i class="fa fa-plus"></i></a>
                        </x>
                    </div>
                }

                <table class="table table-striped bootstrap-datatable" id="example">
                    <thead class="">
                        <tr>
                            <th><p align="center" class="color">English Title</p></th>
                            <th><p align="center" class="color">Arabic Title</p></th>
                            <th><p align="center" class="color">English Description</p></th>
                            <th><p align="center" class="color">Arabic Description</p></th>
                            <th><p align="center" class="color">Image</p></th>
                            <th><p align="center" class="color">Action</p></th>
                        </tr>
                    </thead>
                    <hr>


                    <tbody style="padding-top:0px">
                        <tr align="center" id="@Model.Id">
                            <td>@Model.En_Title</td>
                            <td>@Model.Ar_Title </td>
                            <td>@Model.En_Description</td>
                            <td>@Model.Ar_Description </td>

                            <td>
                                <div class="tz-gallery">
                                    <a class="lightbox" href="@Model.ImgUrl">
                                        <img onerror="this.src='/images/defaultAdImage.png'" src="@Model.ImgUrl" alt="" style="width:100px;">
                                    </a>
                                </div>
                            </td>
                            <td>
                                @if (Model.Id != 0)
                                {
                                    <a asp-action="UpsertBanner" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> </a>
                                }
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/col-->

</div><!--/row-->